body{
    margin: 0;
    font-family: 'arial', sans-serif;
}
a{
    text-decoration: none;
}
nav{
    background: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
}